<section class="content">
  <h2>My Reservations</h2>
  <div id="calendar", style='width: 600px;'></div>

  <% @reservations.each do |reservation| %>
    <%= reservation.start_date.strftime("%m/%d/%Y")  %>
    <% if reservation.id_for_refund == nil %>
    <p><%= link_to "Cancel Reservation",
  cancel_reservation_path(reservation), data: { confirm: "Are you sure?"} %></p>
    <% end %>
  <% end %>
</section>
<script type="text/javascript">
 $('#calendar').fullCalendar({
   events: '/members/<%= @member.id %>/reservations.json'
 });
</script>
