<section class="content">
  <h2>My Reservations</h2>
  <div id="calendar", style='width: 600px;'></div>
</section>
<script type="text/javascript">
 $('#calendar').fullCalendar({
   events: '/members/<%= @member.id %>/reservations.json'
 });
</script>
