section.content {
  .host {
    border-radius: 50px;
  }

  .locations {
   display: block; 
   @include clearfix;
  }

  .location {
    @include span-columns(3);
    @include omega(4n);
  }

  form.button_to {
    clear: both;
    margin-top: 1em;
  }

  form.new_reservation {
    width: 100%;
    margin-bottom: 1em;
  }

  form.available_date {
    margin-bottom: 2em;
  }

  div.location {
    @include span-columns(7);
    float: left;
  }

  div.reservation {
    @include span-columns(5);
    float: right;
  }

  div#calendar {
    margin-top: 2.25em;
    width: 400px;
  }
}
