section.content {
  .host {
    border-radius: 50px;
  }

  form.button_to {
    clear: both;
    margin-top: 1em;
  }

  form.new_reservation {
    width: 100%;
    margin-bottom: 1em;
  }

  div.reservation {
    @include span-columns(4);
    float: right;
  }

}
