section.nav {
  background-color: $brown;
  padding: 2.25em;
  a {
    color: $white;
  }
}
section.content {
  @include outer-container;
  margin-top: 5.063em;

  form {
    @include span-columns(6);
  }
}
