section.nav {
  background-color: $brown;
  padding: 1.5em;
  margin-top: 0;
  a {
    color: transparentize($white, 0.3);
  }
}
section.content {
  @include outer-container;
  margin-top: 5.063em;

  form {
    @include span-columns(6);
  }


  ul.locations {
    @include clearfix;
    list-style-type: bullet;
    li {
      display: block;
    }
  }
}


