/*
*= require dropzone/dropzone
*= require pickadate/default
*= require pickadate/default.date
*/

@import "bourbon";
@import "base/base";
@import "neat";

@import "partials/header";
@import "partials/footer";

@import "partials/home";
@import "partials/profile";
@import "partials/flashes";
@import "partials/location";

body {
  background-color: $light-gray;
}


input[type=number] {
  width: 80px;
  &.cc_number {
    width: 50%;
  }
}








