@import "bourbon";
@import "base/base";
@import "neat";

@import "partials/header";
@import "partials/footer";

@import "partials/home";
@import "partials/profile";
@import "partials/flashes";

body {
  background-color: $light-gray;
}

ul.locations {
  @include clearfix;
}

input[type=number] {
  width: 80px;
  &.cc_number {
    width: 50%;
  }
}








