<section class="content">
<h1>Locations</h1>
<%= link_to "Create Location", new_member_location_path(current_member) %>
<% @locations.each do |location| %>
  <h2><%= link_to location.title, member_location_path(current_member, location) %></h2>
  <p><%= location.description %></p>
  <% if location.address.present? %>
    <p><%= location.address.city %></p>
  <% end %>
<% end %>
</section>
