<footer class="footer" role="contentinfo">
  <div class="row">
  <div class="footer-logo">
    Gigbnb
  </div>
    <ul>
      <li><a href="javascript:void(0)">About</a></li>
      <li><a href="javascript:void(0)">Contact</a></li>
      <li><a href="javascript:void(0)">Products</a></li>
    </ul>
  </div>
</footer>
